
@media (max-width: 1440px) {
    .end{
        display: flex;
        justify-content: space-between;
        margin-top: 30.5vw;
    }
    .about-portal{
        color: white;
        font-size: 6vw;
        margin-left: 48px;
    }
    .footer-columns{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        margin: 18px 48px 10px;
        height: 17%;
        width: 17%;
    }
    .footer h2{
        color: white;
        font-size: 26px;
        text-align: right;
        margin: 18px 48px 10px;
    }
    .portal{
        margin-top: 5vw;
    }
}@media (max-width: 1024px) {
    .text {
        flex: 1; 
        padding-left: 5vw;
        text-wrap: nowrap;
        z-index: 1;
    }
    .text h1 {
        font-size: 11vw; 
        width: 250px;
    }
    .text p {
        font-size: 6vw;
    }
    .image {
        padding: 26px;
        padding-right: 4vw;
        flex: 1;
        max-width: 40%;
    }
    .image img {
        padding-top: 1px;
        max-width: 80%; 
        margin-left: 30%;
    }
    .line{
        margin-top: 13vw;
        max-width: 100%;
    }
    .container-2 h2{
        margin-top: 3vw;
        color: white;
        font-size: 11vw;
        
    }
    .container-3 h2{
        color: white;
        font-size: 11vw;
        max-height: 150px;
        position: absolute;
        margin-top: 6vw;
    }
    .line-2{
        max-width: 100%;
        max-height: auto;
    }
    .line-3{
        margin-top: 20vw;
    }
    .container-4 h2{
        color: white;
        font-size: 11vw;
        max-height: 150px;
        position: absolute;
        margin-top: 8vw;
        text-wrap: nowrap;
        overflow-x: hidden;
    }
    .boxes{
        margin-top: 12vw;
    }
    .box-1{
        color: white;
        font-size: 7vw;
        display: flex;
        justify-content: flex-start;
        margin-left: 5vw;
    }
    .box-2{
        color: white;
        font-size: 6vw;
        display: flex;
        justify-content: flex-end;
        margin-right: 5vw;
    }
    .end{
        display: flex;
        justify-content: space-between;
        margin-top: 35vw;
    }
    .about-portal{
        color: white;
        font-size: 6vw;
        margin-left: 48px;
        margin-top: 12vw;
    }
    .portal{
        margin-top: 2vw;
    }
    .portal-img{
        width: 35vw;
        height: 35vw;
    }
    .footer{
        margin-top: 2.5vw;
    }
    .line-4{
        width: 100%;
    }
    .footer-columns{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        margin: 22px 50px 20px;
        width: 17%;
    }
    .footer h2{
        color: white;
        font-size: 26px;
        text-align: right;
        margin: 20px 50px 20px;
    }
}
@media (max-width: 768px) {
    .text {
        flex: 1;
        padding-left: 30px;
        text-wrap: nowrap;
        z-index: 1;
    }
    .text h1 {
        font-size: 11vw; 
        width: 250px;
    }
    .text p {
        font-weight: 600;
        font-size: 6vw; 
        -webkit-text-stroke: 4px #ffffff80;
    }
    .image {
        padding: 26px;
        padding-right: 4vw;
        flex: 1;
        max-width: 40%;
    }
    .image img {
        padding-top: 1px;
        max-width: 80%; 
        margin-left: 30%;
    }
    .line{
        margin-top: 13vw;
        max-width: 100%;
    }
    .container-2 h2{
        margin-top: 3vw;
        color: white;
        font-size: 11vw;
    }
    .container-3 h2{
        color: white;
        font-size: 11vw;
        max-height: 150px;
        position: absolute;
        margin-top: 6vw;
    }
    .line-2{
        max-width: 100%;
        max-height: auto;
    }
    .line-3{
        margin-top: 25vw;
    }
    .container-4 h2{
        color: white;
        font-size: 11vw;
        max-height: 150px;
        position: absolute;
        margin-top: 7vw;
        text-wrap: nowrap;
        overflow-x: hidden;
    }
    .boxes{
        margin-top: 8vw;
    }
    .box-1{
        color: white;
        font-size: 6vw;
        display: flex;
        justify-content: flex-start;
        margin-left: 5vw;
        margin-bottom: 2vw;
    }
    .box-2{
        color: white;
        font-size: 6vw;
        display: flex;
        justify-content: flex-end;
        margin-right: 5vw;
    }
    .end{
        display: flex;
        justify-content: space-between;
        margin-top: 34vw;
    }
    .about-portal{
        color: white;
        font-size: 6vw;
        margin-left: 3vw;
        margin-top: 8vw;
        padding-top: 7vw;
    }
    .portal{
        margin-top: 4vw;
        margin-right: 4vw;
        overflow: hidden;
    }
    .portal-img{
        width: 37vw;
        height: 37vw;
    }
    .footer{
        margin-top: 1vw;
    }
    .line-4{
        height: 6px;
    }
    .line-4{
        width: 100%;
    }
    .footer{
        margin-top: 1vw;
    }
    .footer-columns{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        margin: 6px 16px 8px;
        width: 25%;
    }
    .footer h2{
        color: white;
        font-size: 2.8vw;
        text-align: right;
        padding-top: 2px;
        margin: 6px 16px 8px;
    }
}
@media (max-width: 456px) {
    .text h1{
        font-size: 12vw;
        padding-top: 2vw;
    }
    .container-2 h2{
        margin-top: 3vw;
        color: white;
        font-size: 10vw;
    }
    .container-3 h2{
        color: white;
        font-size: 10vw;
        max-height: 150px;
        position: absolute;
        margin-top: 6vw;
    }
    .container-4 h2{
        color: white;
        text-wrap: nowrap;
        font-size: 10vw;
    }
    .footer h2{
        color: white;
        font-size: 2.8vw;
        text-align: right;
        padding-top: 2px;
        margin: 6px 16px 16px;
    }
    .logo{
        margin: 6px 16px 16px;
        width: 22%;
    }
    .end{
        display: flex;
        justify-content: space-between;
        margin-top: 44vw;
    }
}